<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Calendar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/calendar.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="container">
            <h1>Calendar</h1>

            <div class="row">
                <div class="col-10">

                    <table id="calendar">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>
                                    <th>Sunday</th>
                                </tr>
                            </thead>

                            <tbody>  

                            </tbody>
                        </table>

                    <script>
                        var slots = "{{slots}}";
                        slots = slots.replace("[", "").replace("]", "").split(", ");


                        var $table_body = $('tbody');
                        var start_time = 6;

                        for (var i = 0; i < 17; i++) {
                            var row_html = '';
                            row_html += '<td>' + start_time + '</td>'
                            start_time++;

                            for (var j = 0; j < 7; j++) {
                                slot = slots[(i*7)+j]
                                if (slot == 0) {
                                    row_html += '<td>' + slot + '</td>';
                                } else if (slot == 1) {
                                    row_html += '<td class="event">' + slot + '</td>';
                                }
                            }
                            
                            $table_body.append('<tr>' + row_html + '</tr>');
                            row_html = '';
                        }
                    </script> 
                        
                </div>

                <div class="col-2">
                    Twitter stuff
                </div>
            </div>
        </div>

        <!--<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>-->
    </body>
</html>