<link rel="stylesheet" href="/static/style.css" type="text/css">

<form action="/login" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Login</h1>
</div>
<div class="login-form">
<div class="control-group">
<input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
<input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>
<form>
	<fieldset>
		<legend>How many days a week do you exercise </legedn>
		<p>
			<label>Select from</label>
			<select id = "myList">
			<option value = "0">zero</option>
			<option value = "1">one</option>
               		<option value = "2">two</option>
               		<option value = "3">three</option>
               		<option value = "4">four</option>
			<option value = "5">five</option>
			<option value = "6">four</option>
			<option value = "7">five</option>
             </select>
          </p>
       </fieldset>	
</form>
<form>
	<fieldset>
		<legend>Please select your age range </legedn>
		<p>
			<label>Select from</label>
			<select id = "myList">
			<option value = "Under 18">Under 18</option>
               		<option value = "18-24">18-24</option>
               		<option value = "25-34">25-34</option>
               		<option value = "35-44">35-44</option>
			<option value = "45-54">45-54</option>
			<option value = "55-64">55-64</option>
			<option value = "65+">65+</option>
             </select>
          </p>
       </fieldset>	
</form>			
<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>