<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href=" url_for 'static', filename='/../../../app/static/css/meetuser.css">

        <script src="url_for 'static', filename=/../../../app/static/js/convert-json.js"></script>
        <script>
            function populate(x) {
                var select = document.getElementById(x);
                var i;
                for (i=0; i <= 23; i++){
                    var el = document.createElement("option");

                    if (i < 10) {
                        el.textContent = "0" + i + ":00";
                        el.value = "0" + i + ":00";
                    } else {
                        el.textContent = i + ":00";
                        el.value = i + ":00";
                    }
                    select.appendChild(el);
                }
            }
        
        //Calling the function on pageload
        window.onload = function (x) {
            populate('worktimefrom');
            populate('worktimeto');
        }
        </script>
    </head>
    <body>
        <form onsubmit= "return convertToJSON(this);">
            <b><p>Gender:</p></b>
            <div>
                <input type="radio" id="male" name="sex" value="male" checked />
                <label for="male">Male</label>
                <input type="radio" id="female" name="sex" value="female" />
                <label for="female">Female</label>
                <input type="radio" id="other" name="sex" value="other" />
                <label for="other">Other</label>
            </div>
            <b><p>City:</p></b>
            <form>
                <input type="text" name="city"><br>
            </form>
            <div class="row">
                <label><b><p>Preferred Sport(s):</b> Pick all that applies</p></label>
                <select id = "sports" multiple>
                    <option>I don't like sports</option>
                    <option>Ball</option>
                    <option>Aerobic</option>
                    <option>Strength</option>
                    <option>Balance</option>
                    <option>Endurance</option>
                    <option>Stretching</option>
                </select>
            </div><br>
            <div class="row">
                <label><b>Do you have any injuries / physical disabilities?</b></label>
                <select id = "injury">
                    <option value = "yes">Yes</option>
                    <option value = "No">No</option>
                </select>
            </div><br>
            <div class="row">
                <label><b>Are you competitive?</b></label>
                <select id = "competition">
                    <option value = "4">Very</option>
                    <option value = "3">Yes</option>
                    <option value = "2">Not really</option>
                    <option value = "1">Not at all</option>
                </select>
            </div><br>
            <input type = "submit" value = "Let's go !">
        </form>
    </body>
</html>